.hero-background {
  filter: hue-rotate(-70deg) saturate(120%) brightness(85%) contrast(100%);
}

#Amate_Viajando_Hero_img {
  box-shadow: 20px 20px 60px #9f9f9f76,
    -20px -20px 60px #ffffff28;
}

.hero-background canvas {
  height: 100% !important;
}