.hero-background {
    filter: hue-rotate(-74deg) saturate(120%) brightness(95%) contrast(100%);
    opacity: 0.70;
  }
  #Amate_Viajando_Hero_img{
    border-color: rgba(255, 255, 255) !important;
  }