#home-gradient-container {
    height: 72px;
    width: 200px;
    z-index: 200;
    background: rgb(207,255,218);
    background: linear-gradient(90deg, rgba(207,255,218,1) 4%, rgba(149,186,255,1) 36%, rgba(201,220,255,1) 47%, rgba(255,255,255,1) 67%);
}