/*header .header-menu-list{
    position: relative !important;
    z-index: 200;
} No funciona
*/

header{
    background-color: #95baff;
}
header::before{
    content: '';
    height: 72px;
    width: 16px;
    background-color: #cfffda;
    z-index: 20000;
}