#home-gradient-container {
    height: 72px;
    width: 200px;
    z-index: 200;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(207,255,218,1) 6%, rgba(149,186,255,1) 38%, rgba(201,220,255,1) 48%, rgba(255,255,255,1) 62%); 


}